@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 4fr;
    grid-template-rows: 80px 1fr auto;
}
